#j1{
  margin-left: 2%;;
}

.textarea {
    background-color: #dddddd;
    color: #666666;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    margin-left: 1%;
    width: 90%;
    height: 100%;
  }

  #submit {
    margin: 0 auto;
    margin-top: 20px;
    height: 50%;
    width: 20%;
    border: 1px solid;
  }
