.containerMorning {
    display: grid;
    height: 85vh;
    width: 100vw;
    background-image: url(/data/img/daysky.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.containerDay {
    display: grid;
    height: 85vh;
    width: 100vw;
    background-image: url(/data/img/daysky.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.containerEvening {
    display: grid;
    height: 85vh;
    width: 100vw;
    background-image: url(/data/img/daysky.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.containerNight {
    display: grid;
    height: 85vh;
    width: 100vw;
    background-image: url(/data/img/daysky.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.moodarea {
    display: grid;
    grid-template-rows: 7vh 10vh auto 10vh 43.1vh;
    width: 100%;
    grid-template-areas:
        'smiley'
        'title'
        'cloud'
        'slider'
        'mascot';
}

#smiley {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-area: smiley;
}

#title {
    display: grid;
    justify-content: center;
    grid-area: title;
}

.moodclouds {
    display: grid;
    align-items: center;
    font-size: 2.5em;
    grid-area: cloud;
}

#sliders {
    display: grid;
    justify-content: center;
}

.buttonGroup {
    display: inline-block;
    text-align: center;
}

.buttonGroup label {
    display: block;
}

#mascot {
    display: grid;
    grid-area: mascot;
    justify-items: center;
    align-items: end;
    background-image: url(/data/img/daywaves.svg);
    background-repeat: repeat-x;
    background-position: center bottom;
    /* background-size: 100vw, 400px; */
    max-height: 400px;
    pointer-events: none;

}

#mascot img {
    width: 100%;
    height: auto;
    max-height: 400px;
    overflow-y: hidden;
    pointer-events: none;
    /* makes the mascot click-throughable*/
}