.containerMorning {
    display: grid;
    height: 85vh;
    width: 100vw;
    background-image: url(/data/img/daysky.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.containerDay {
    display: grid;
    height: 85vh;
    width: 100vw;
    background-image: url(/data/img/daysky.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.containerEvening {
    display: grid;
    height: 85vh;
    width: 100vw;
    background-image: url(/data/img/daysky.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.containerNight {
    display: grid;
    height: 85vh;
    width: 100vw;
    background-image: url(/data/img/daysky.svg);
    background-repeat: no-repeat;
    background-size: cover;
}


.container {
    height: 100vh;
    display: grid;
    grid-template-rows: 5em auto auto 20vh min-content 5em;
    width: 100%;
    grid-template-areas:
        'header'
        'clock'
        'cloud'
        'slider'
        'mascot'
        'footer';
}

#clockArea {
    grid-area: clock;
    display: flex;
    align-content: center;
    justify-content: center;
}

#clock {
    font-size:100px;
    color:white;
    text-shadow:2px 1px gray;
}

#mainHeader {
    display:grid;
    grid-template-columns: 10em auto 10em;
    align-items: center;
    justify-items: center;
}

#settingsButton{
    grid-column:1;
}
#themesButton{
    grid-column:3;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 500
}


#smiley {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-area: smiley;
}

#title {
    display: grid;
    justify-content: center;
    grid-area: title;
}

.moodclouds {
    display: grid;
    align-items: center;
    font-size: 2.5em;
    grid-area: cloud;
}

#sliders {
    display: grid;
    justify-content: center;
    align-content: center;
}

.buttonGroup {
    display: inline-block;
    text-align: center;
}

.buttonGroup label {
    display: block;
}

#submitbutton {
    display: flex;
    justify-content: center;
}

#jsMoodterm {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}


#mascot {
    display: grid;
    grid-area: mascot;
    justify-items: center;
    align-items: end;
    background-image: url(/data/img/daywaves.svg);
    background-repeat: repeat-x;
    background-position: center bottom;
    /* background-size: 100vw, 400px; */
    pointer-events: none;

}

#mascot img {
    width: 100%;
    height: auto;
    max-height: 250px;
    overflow-y: hidden;
    pointer-events: none;
    /* makes the mascot click-throughable*/
}

#footerPlaceholder {
    grid-area: footer;
    height: auto;
}

dialog::backdrop {
    backdrop-filter: blur(4px);
  }