/* // <uniquifier>: Use a unique and descriptive class name */
/* // <weight>: Use a value from 300 to 700 */

.quicksandfont {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* .containerMorning {
    display: grid;
    height: 85vh;
    width: 100vw;
    background-image: url(/data/img/daysky.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.containerDay {
    display: grid;
    height: 85vh;
    width: 100vw;
    /* background-image: url(/data/img/daysky.svg); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
/* }

.containerEvening {
    display: grid;
    height: 85vh;
    width: 100vw;
    background-image: url(/data/img/daysky.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.containerNight {
    display: grid;
    height: 85vh;
    width: 100vw;
    background-image: url(/data/img/daysky.svg);
    background-repeat: no-repeat;
    background-size: cover;
} */ 

* {
    margin: 0;
    padding: 0;
}
.container {
    height: 100vh;
    display: grid;
    grid-template-rows: 5em 10em auto min-content 5em;
    width: 100vw;
    overflow:hidden;
    grid-template-areas:
        'header'
        'clock'
        /* 'cloud' */
        'slider'
        'mascot'
        'footer';
}

#clockArea {
    grid-area: clock;
    display: grid;
    align-content: center;
    justify-content: center;
    font-family: 'Quicksand';
    text-align: center;
}

#clock {
    font-size:10vh;
    color:white;
    text-shadow:2px 1px gray;
}

#mainHeader {
    display:grid;
    grid-template-columns: 10em auto 10em;
    align-items: center;
    justify-items: center;
}

#settingsButton{
    grid-column:1;
}
#themesButton{
    grid-column:3;
}

#customButton{
    text-align: center;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 500
}


#smiley {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-area: smiley;
}

#title {
    display: grid;
    justify-content: center;
    grid-area: title;
}

/* .moodclouds {
    display: grid;
    align-items: center;
    font-size: 2.5em;
    grid-area: cloud;
} */

#sliders {
    grid-area:slider;
    display: grid;
    justify-content: center;
    align-content:center;
    grid-template-rows: min-content;

}

.buttonGroup {
    display: inline-block;
    text-align: center;
}

.buttonGroup label {
    display: block;
}

#submitbutton {
    display: flex;
    justify-content: center;
}

#jsMoodterm {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}


#mascot {
    display: grid;
    grid-area: mascot;
    justify-items: center;
    align-items: end;
    background-image: url(/data/img/daywaves.svg);
    background-repeat: repeat-x;
    background-position: center bottom;
    pointer-events: none;

}

#mascot img {
    width: auto;
    height: auto;
    max-height: 250px;
    overflow-y: hidden;
    /* makes the mascot click-throughable*/
    pointer-events: none;
    position:relative;
    
}

#hat {
    display: grid;
    grid-area: mascot;
    justify-items: center;
    align-items: end;
    background-image: url(/data/img/daywaves.svg);
    background-repeat: repeat-x;
    background-position: center bottom;
    pointer-events: none;

}

#hat img {
    width: auto;
    height: auto;
    max-height: 250px;
    overflow-y: hidden;
    /* makes the hat click-throughable*/
    pointer-events: none;
    position:relative;
    
}

#footerPlaceholder {
    grid-area: footer;
    height: auto;
}

dialog::backdrop {
    backdrop-filter: blur(4px);
}



/* animated clouds taken from https://codepen.io/Mark_Bowley/pen/LYZEBq */
/* Starts here*/
  body {
	background: #96DCEE;
	color: #333;
	font-family: 'Quicksand';
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

  #background-wrap {
    bottom: 0;
	left: 0;
	padding-top: 50px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
}

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

/* ANIMATIONS */

.x1 {
	-webkit-animation: animateCloud 35s linear infinite;
	-moz-animation: animateCloud 35s linear infinite;
	animation: animateCloud 35s linear infinite;
	
	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	transform: scale(0.65);
}

.x2 {
	-webkit-animation: animateCloud 20s linear infinite;
	-moz-animation: animateCloud 20s linear infinite;
	animation: animateCloud 20s linear infinite;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x3 {
	-webkit-animation: animateCloud 30s linear infinite;
	-moz-animation: animateCloud 30s linear infinite;
	animation: animateCloud 30s linear infinite;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x4 {
	-webkit-animation: animateCloud 18s linear infinite;
	-moz-animation: animateCloud 18s linear infinite;
	animation: animateCloud 18s linear infinite;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x5 {
	-webkit-animation: animateCloud 25s linear infinite;
	-moz-animation: animateCloud 25s linear infinite;
	animation: animateCloud 25s linear infinite;
	
	-webkit-transform: scale(0.55);
	-moz-transform: scale(0.55);
	transform: scale(0.55);
}

/* OBJECTS */

.cloud {
	background: #fff;
	background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
	background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );
	
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	
	-webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

	height: 120px;
	position: relative;
	width: 350px;
}

.cloud:after, .cloud:before {
    background: #fff;
	content: '';
	position: absolute;
	z-indeX: -1;
}

.cloud:after {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;

	height: 100px;
	left: 50px;
	top: -50px;
	width: 100px;
}

.cloud:before {
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;

	width: 180px;
	height: 180px;
	right: 50px;
	top: -90px;
}

/* Ends Here */

.card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: auto;
	-webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19), 0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19), 0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
	background-color: rgb(255, 255, 255);
	padding: 0.8rem;
	width: 33rem;
}

.rating-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0.4rem 0.8rem;
	width: 100%;
    height:min-content;
}

.rating-text p {
	color: rgba(0, 0, 16, 0.8);
	font-size: 1.5vh;
    font-weight: bold;
	padding: 0;
    margin: 0 0 0 0;
}

.rating {
	background-color: #033F63;
	padding: 0.4rem 0.4rem 0.1rem 0.4rem;
	border-radius: 0.8rem;
}

svg {
	fill: rgb(242, 242, 242);
	height: 3vh;
	width: auto;
	margin: 0.2rem;
}

.rating-form-2 svg {
	height: 3rem;
	width: 3rem;
	margin: 0.5rem;
}

#radios label {
	position: relative;
}

input[type="radio"] {
	position: absolute;
	opacity: 0;
}

.buttonGroup {
    margin-bottom: 1em;
    justify-content: center;
}

#closeDialog {
    cursor: pointer;
    font-size: xx-large;
}

dialog {
    font-size: large;
}

#confirmBtn {
    
}

#favDialog input[type="radio"] {
	position:static;
    opacity: 100;
    
    display: inline-block;
    width: 80%;
    margin-top: 1.2em;
    padding: 1em;
    max-width: 220px;
    font-size: .9em;
    color: #D42D78;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .15em;
    background: white;
    border: none;
    outline: none;
    border-radius: 5em;
    box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.3);
    transition: 
      color 0.6s, 
      box-shadow 0.3s, 
      transform 0.3s;
    cursor: pointer;
}



input[type="radio"] + svg {
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

input + svg {
	cursor: pointer;
}

input[class="super-happy"]:hover + svg,
input[class="super-happy"]:checked + svg,
input[class="super-happy"]:focus + svg {
	fill: rgb(0, 109, 217);
}

input[class="happy"]:hover + svg,
input[class="happy"]:checked + svg,
input[class="happy"]:focus + svg {
	fill: rgb(0, 204, 79);
}

input[class="neutral"]:hover + svg,
input[class="neutral"]:checked + svg,
input[class="neutral"]:focus + svg {
	fill: rgb(232, 214, 0);
}

input[class="sad"]:hover + svg,
input[class="sad"]:checked + svg,
input[class="sad"]:focus + svg {
	fill: rgb(229, 132, 0);
}

input[class="super-sad"]:hover + svg,
input[class="super-sad"]:checked + svg,
input[class="super-sad"]:focus + svg {
	fill: rgb(239, 42, 16);
}

input[class="super-happy-energy"]:hover + svg,
input[class="super-happy-energy"]:checked + svg,
input[class="super-happy-energy"]:focus + svg {
	fill: rgb(0, 109, 217);
}

input[class="happy-energy"]:hover + svg,
input[class="happy-energy"]:checked + svg,
input[class="happy-energy"]:focus + svg {
	fill: rgb(0, 204, 79);
}

input[class="neutral-energy"]:hover + svg,
input[class="neutral-energy"]:checked + svg,
input[class="neutral-energy"]:focus + svg {
	fill: rgb(232, 214, 0);
}

input[class="sad-energy"]:hover + svg,
input[class="sad-energy"]:checked + svg,
input[class="sad-energy"]:focus + svg {
	fill: rgb(229, 132, 0);
}

input[class="super-sad-energy"]:hover + svg,
input[class="super-sad-energy"]:checked + svg,
input[class="super-sad-energy"]:focus + svg {
	fill: rgb(239, 42, 16);
}

#submitbutton button, #customButton button {
    text-decoration: none;
    background-color: rgb(7,132,181);
    color: white;
    /* padding: 1vh 3vw 1vh; */
    border-radius: 0.5em;
    box-shadow: 0 1vh  #033F63;
    font-size: 1.5em;
    border: none;
    margin: 2vh 0 2vh;
    padding: 0.5vh;
}

#submitbutton button:hover, #customButton button:hover {
    box-shadow: 0 5px #033F63;
	transform: translateY(4px);
}

