.container {
    height:85vh;
    width: 100vw;
    display:grid;
    background-color: lightblue;
    grid-template-rows: 7vh 5vh 65vh;
    grid-template-areas: 
    "header"
    "calendar"
    "body";
    overflow: hidden;
    background-repeat: no-repeat;
    overflow-y: auto;
  }

h1 {
    margin-left: 15px;
}

.flatpickr-input{
    margin-left: 15px;
    width: 200px;
    height: 20px;
}
.journal-entry {
    border: 1px solid #ccc;
    padding: 10px;
    height: auto;
    margin: 15px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    overflow-y: auto;
}

.journal-entry p {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 40px;
}

#time {
    color: grey;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    margin-top: 30vh;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #confirmDeleteBtn {
    width: 20%;
    height: 30px;
    margin: 20px;
    margin-top: 50px; 
    text-decoration: none;
    background-color: rgb(7, 132, 181);
    color: white;
    border-radius: 0.5em;
    box-shadow: 0 1vh #033F63;
    font-size: 1.5em;
    border: none;
  }
  
  #cancelDeleteBtn {
    width: 20%;
    height: 30px;
    margin-top: 50px;
    text-decoration: none;
    background-color: rgb(7, 132, 181);
    color: white;
    border-radius: 0.5em;
    box-shadow: 0 1vh #033F63;
    font-size: 1.5em;
    border: none;
    /* margin: 2vh 0 2vh; */
    /* padding: 0.5vh; */
  }
  
  
  #confirmButton:hover,
  #cancelButton:hover,
  #past_journals:hover,
  #clear:hover,
  #submit:hover {
    box-shadow: 0 5px #022841;
    transform: translateY(4px);
  }