.container {
    display: grid;
    justify-content: unset;
    justify-items: center
}

fieldset {
    border: none;
}

button {
    text-decoration: none;
    background-color: #fff4ed;
    color: Tomato;
    padding: 1vh 3vw 1vh;
    border-radius: 0.5em;
    box-shadow: 0 1vh #ddc09e;
    font-size: 1.5em;
    border: none;
    margin: 5vh 0 5vh;
}

button:hover {
	box-shadow: 0 5px #ddc09e;
	transform: translateY(4px);
}

ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
}