body{
    background-color: #ffffe6;
}

.footertext{
    background-color: #c6f5c6;
}

.navbar{
    background: #c6f5c6;
}

.navbar-brand{
    font-family: "Leckerli One", sans-serif;
    color: green;
}

.navbar-toggler{
    border-color: #6bb36b;
}

.btn-outline-success{
    color: white;
}

.btn{
    background-color: #6bb36b;
    border-color: #6bb36b;
}

.btn:hover{
    background-color: darkgreen;
    border-color: darkgreen;
}

.btn-info{
    background: #c6f5c6;
    border-color: #c6f5c6;
}

.btn-info:hover{
    background-color: #6bb36b;
    border-color: #6bb36b;
}

main {
    display: grid;
    justify-items: center;
}
