/*
* please put only universal style here
* we'd need other styling for each page
* like main.css, journal.css etc.
* this is just for general styling
*/

.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    background-color: lightblue;
    justify-content: center;
    align-content: center;
}